* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}

table td, table th {
    border: 1px solid #cad9ea;
    color: #666;
    height: 30px;
}

table thead th {
    background-color: #CCE8EB;
    width: 100px;
}

table tr:nth-child(odd) {
    background: #fff;
}

table tr:nth-child(even) {
    background: #F5FAFA;
}

body {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    font-size: 21px;
}

body.mobile {
    font-size: 36px;
}

.navbar-brand {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    font-size: 100%;
}

.title a {
    display: block;
}

.title {
    cursor: pointer;
    padding: 15px 20px;
}

li.title:hover {
    background-color: #eee;
    font-size: 100%;
}

.panel {
    border-radius: 0;
    font-size: 100%;
}

.panel-default > .panel-heading {
    background-image: none;
    background-color: #fff;
    font-size: 100%;
}

.navbar-default {
    background-image: none;
    background-color: #fff;
    box-shadow: none;
    font-size: 100%;
}

.navbar-brand, .navbar-nav {
    font-size: 24px;
}

body.mobile .navbar-brand {
    font-size: 36px;
}

body.mobile .navbar-nav {
    font-size: 36px;
}

div.outer {
    margin: 5% 10% 2% 10%;
}

body.mobile div.outer {
    margin: 4% 2% 2% 2%;
}

form {
	position:relative;
	width:300px;
	margin:0 auto;
}

input,button {
	border:none;
	outline:none;
}
input {
	width:100%;
	height:42px;
	padding-left:13px;
}
button {
	height:42px;
	width:42px;
	cursor:pointer;
	position:absolute;
}

.navbar-search {
    display:inline-block;
}

.navbar-other{
    display:inline;
}

.navbar-search input {
	border:2px solid #c5464a;
	border-radius:5px;
	background:transparent;
	top:0;
	right:0;
}
.navbar-search button {
	background:#c5464a;
	border-radius:0 5px 5px 0;
	width:60px;
	top:0;
	right:0;
}
.navbar-search button:before {
	content:"搜索";
	font-size:13px;
	color:#F9F0DA;
}
